<div class="login-container">
    <mat-card class="login-card">

        <h2 class="title">Welcome Back 👋</h2>
        <p class="subtitle">Login to continue</p>

        <form [formGroup]="loginForm">

            <!-- EMAIL -->
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" autocomplete="off">

                @let email = loginForm.get('email');

                @if (email?.hasError('required')) {
                <mat-error class="text-danger">Email is <strong>required</strong></mat-error>
                }

                @if (email?.hasError('email')) {
                <mat-error class="text-danger">Please enter a valid email address</mat-error>
                }
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput autocomplete="off" [type]="hide() ? 'password' : 'text'" formControlName="password" />
                @let password = loginForm.get('password');

                @if (password?.hasError('password')) {
                <mat-error class="text-danger">password is <strong>required</strong></mat-error>
                }
                <button matIconButton type="button" matSuffix (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" class="w-100 custom-login-btn" matButton (click)="onSubmit()">Log In</button>
            </div>

        </form>

        <div class="bottom-text">
            Forgot your password?
            <a routerLink="/resetPassword">Reset here</a>
        </div>
        <div class="bottom-text">
            Don't have an account?
            <a routerLink="/signup">Sign Up</a>
        </div>

    </mat-card>
</div>