<div class="login-container">
    <mat-card class="login-card">

        <h2 class="title">Reset Password</h2>
        <!-- <p class="subtitle">Login to continue</p> -->

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- EMAIL -->
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">

                @let email = loginForm.get('email');

                @if (email?.hasError('required')) {
                <mat-error class="text-danger">Email is <strong>required</strong></mat-error>
                }

                @if (email?.hasError('email')) {
                <mat-error class="text-danger">Please enter a valid email address</mat-error>
                }
            </mat-form-field>

            <!-- PASSWORD -->
            <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" />
                <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field> -->

            <div class="text-center">
                <button type="submit" class="w-100 custom-login-btn" matButton>Reset Password</button>
            </div>

        </form>

        <div class="bottom-text">
            <a routerLink="/login">Go To Login</a>
        </div>

    </mat-card>
</div>