.icon-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.user-icon {
    width: 70px;
    /* circle width */
    height: 70px;
    /* circle height */
    font-size: 70px;
    /* icon size */
    color: #ffffff;
    background: #dc3545;
    border-radius: 50%;
    display: flex;
    /* center icon */
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.user-icon1 {
    width: 70px;
    /* circle width */
    height: 70px;
    /* circle height */
    font-size: 70px;
    /* icon size */
    color: #dc3545;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.signup-container {
    /* margin-top: 200px; */
    display: flex;
    max-width: 800px;
    width: 90%;
    /* height: 500px; */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.808);
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    animation: fadeIn 0.9s ease-in-out;
}

.left-side {
    flex: 1;
    background-color: #dc3545;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-side {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 80%;
}

.full-width {
    width: 100%;
}

.icon-wrapper {
    display: none;
    /* hide by default (desktop) */
}
.custom-login-btn {
  background-color: #dc3545 !important;
  color: #ffffff !important;
  border-radius: 50px;
  font-size: larger;
}
.custom-login-btn:hover {
  background-color: #b70000 !important;
  color: #ffffff !important;
}

@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        height: auto;
        padding: 23px;
        margin-bottom: 20px;

    }

    .user-icon1 {
        display: none;
        /* hide the left-side icon on mobile */
    }

    .icon-wrapper {
        margin-bottom: -70px;
        display: flex;
        justify-content: center;
        /* margin-bottom: 20px; */
    }
}



.bottom-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #3f51b5;
}

.bottom-text a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: 600;
}

.bottom-text a :hover {
    text-decoration: none
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}