<div class="icon-wrapper">
  <mat-icon class="user-icon">account_circle</mat-icon>
</div>

<div class="signup-container mt-4">
  <!-- Left Red Half -->
  <div class="left-side">

    <div class="mb-4">
      <mat-icon class="user-icon1">account_circle</mat-icon>
    </div>

    <h2>Welcome!</h2>
    <p>Create your account</p>

  </div>

  <!-- Right White Half -->
  <div class="right-side">
    <div class="form-wrapper">

      <h2 class="text-danger mt-4">Sign Up</h2>

      <form [formGroup]="signupForm">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName">
          <mat-error *ngIf="signupForm.get('fullName')?.touched && signupForm.get('fullName')?.invalid">
            Full Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
            Valid Email is required
          </mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- CONFIRM PASSWORD -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
          <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
          @if(isPasswordMatched){
            <span class="text-danger">
            Passwords do not match
          </span>
          }


        <button matButton class="full-width custom-login-btn mt-3" type="submit" (click)="onSubmit()">
          Sign Up
        </button>

        <p class="mt-4 bottom-text">
          Already have an account?
          <a class="" routerLink="/login">Login</a>
        </p>

      </form>

    </div>
  </div>
</div>